body {
  margin: 10;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 200px;
  top: 100;
  left: 0;
  background-color: #4879ff;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: #3b2dfa;
}

.submenu {
  display: none;
}

.submenu.active {
  display: block;
}

.submenu a {
  background-color: #202ef3;
}

.submenu a:hover {
  background-color: #4cb7ff;
}
