body {
    background-color: rgb(55, 124, 214);
    text-align: center;
}
h1 {
    color: white;
    font: normal 50px arial;
    text-align: center;
}
form {
    background-color: aliceblue;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    margin:auto;
}
h3 {
    color: white;
    font: normal 18px arial;
    font-style: italic;
}