body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background-color: #e4e4e4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: #888;
}